/* ./src/styles/global.css */
@tailwind base;
@layer base {
    h1 {
      @apply text-2xl font-bold;
    }
    h2 {
      @apply text-xl font-medium;
    }
    h3 {
      @apply text-lg;
    }
    p {
        line-height: 1.25rem;
        padding: 0.75rem 0;
    }
    active-link {
      color:#FF0000;
    }
  }
@tailwind components;
@tailwind utilities;