/* ./src/styles/global.css */
@tailwind base;
@layer base {
    h1 {
      @apply text-2xl font-bold;
    }
    h2 {
      @apply text-xl font-medium;
    }
    h3 {
      @apply text-lg;
    }
    p {
        line-height: 1.25rem;
        padding: 0.75rem 0;
    }
    .active-link {
      color:#343a40;
      border-bottom: 2px solid #343a40;
    }
    .active-link:hover {
      color:#343a40 !important;
      border-bottom: 2px solid #343a40;
    }
  }
@tailwind components;
@tailwind utilities;